openapi: 3.1.0
info:
  title: Raast Wire
  version: 1.0.0
  description: ""
servers:
  - url: https://api.getsafepay.com/raastwire
paths:
  /v1/aggregators/{raast-aggregator-id}:
    get:
      tags:
        - Aggregators
      summary: Get Aggregator
      security:
        - apiKey: []
      parameters:
        - $ref: "#/components/parameters/AggregatorIdParam"
      responses:
        "201":
          $ref: "#/components/responses/AggregatorResponse"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/aggregators/{raast-aggregator-id}/keys:
    get:
      tags:
        - Access Keys
      summary: List Access Keys
      security:
        - apiKey: []
      parameters:
        - $ref: "#/components/parameters/AggregatorIdParam"
        - $ref: "#/components/parameters/LimitQueryParam"
        - $ref: "#/components/parameters/OffsetQueryParam"
        - $ref: "#/components/parameters/AccessKeyNamesParam"
        - $ref: "#/components/parameters/AccessKeyIsActiveParam"
      responses:
        "200":
          $ref: "#/components/responses/ListAccessKeysResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      tags:
        - Access Keys
      summary: Create Access Key
      description: Create an access key to access Safepay's Raast APIs
      security:
        - apiKey: []
      operationId: createAccessKey
      parameters:
        - $ref: "#/components/parameters/AggregatorIdParam"
      requestBody:
        $ref: "#/components/requestBodies/CreateAccessKey"
      responses:
        "200":
          $ref: "#/components/responses/CreateAccessKeyResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /v1/aggregators/{raast-aggregator-id}/keys/{access-key-id}:
    put:
      tags:
        - Access Keys
      summary: Update Access Key
      description: Update your access key
      security:
        - apiKey: []
      parameters:
        - $ref: "#/components/parameters/AggregatorIdParam"
        - $ref: "#/components/parameters/AccessKeyIdParam"
      requestBody:
        $ref: "#/components/requestBodies/UpdateAccessKey"
      responses:
        "200":
          $ref: "#/components/responses/EmptySuccess"
    delete:
      tags:
        - Access Keys
      summary: Delete Access Key
      description: Delete your access key
      security:
        - apiKey: []
      parameters:
        - $ref: "#/components/parameters/AggregatorIdParam"
        - $ref: "#/components/parameters/AccessKeyIdParam"
      responses:
        "200":
          $ref: "#/components/responses/EmptySuccess"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/aggregators/{raast-aggregator-id}/keys/{access-key-id}/rotate:
    put:
      tags:
        - Access Keys
      summary: Rotate Access Key
      security:
        - apiKey: []
      parameters:
        - $ref: "#/components/parameters/AggregatorIdParam"
        - $ref: "#/components/parameters/AccessKeyIdParam"
      responses:
        "200":
          $ref: "#/components/responses/RotateAccessKeyResponse"

  /v1/aggregators/{raast-aggregator-id}/merchants:
    post:
      tags:
        - Merchants
      summary: Create Merchant
      security:
        - apiKey: []
      parameters:
        - $ref: "#/components/parameters/AggregatorIdParam"
      responses:
        "200":
          $ref: "#/components/responses/CreateMerchantResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
      requestBody:
        $ref: "#/components/requestBodies/CreateMerchant"
    get:
      tags:
        - Merchants
      summary: List Merchants
      security:
        - apiKey: []
      parameters:
        - $ref: "#/components/parameters/AggregatorIdParam"
        - $ref: "#/components/parameters/MerchantListLimitParam"
        - $ref: "#/components/parameters/MerchantListOffsetParam"
        - $ref: "#/components/parameters/MerchantListEnabledParam"
        - $ref: "#/components/parameters/MerchantListIdentifiersParam"
        - $ref: "#/components/parameters/MerchantListNamesParam"
      responses:
        "200":
          $ref: "#/components/responses/ListMerchantsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/aggregators/{raast-aggregator-id}/merchants/{aggregator-merchant-id}:
    get:
      tags:
        - Merchants
      summary: Find Merchant
      security:
        - apiKey: []
      parameters:
        - $ref: "#/components/parameters/AggregatorIdParam"
        - $ref: "#/components/parameters/MerchantIdParam"
      responses:
        "200":
          $ref: "#/components/responses/FindMerchantResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      tags:
        - Merchants
      summary: Delete Merchant
      security:
        - apiKey: []
      parameters:
        - $ref: "#/components/parameters/AggregatorIdParam"
        - $ref: "#/components/parameters/MerchantIdParam"
      responses:
        "200":
          $ref: "#/components/responses/EmptySuccess"
        "401":
          $ref: "#/components/responses/Unauthorized"
    put:
      tags:
        - Merchants
      summary: Update Merchant
      security:
        - apiKey: []
      parameters:
        - $ref: "#/components/parameters/AggregatorIdParam"
        - $ref: "#/components/parameters/MerchantIdParam"
      responses:
        "200":
          $ref: "#/components/responses/UpdateMerchantsResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalError"
      requestBody:
        $ref: "#/components/requestBodies/UpdateMerchant"

  /v1/aggregators/{raast-aggregator-id}/raast-merchants:
    parameters:
      - $ref: "#/components/parameters/AggregatorIdParam"
    get:
      tags:
        - Raast Merchants
      summary: List Raast Merchants
      description: Find all the available Raast merchants available on Safepay. Link your desired merchant with a Raast merchant to process payments for them
      security:
        - apiKey: []
      parameters:
        - $ref: "#/components/parameters/RaastMerchantListLimitParam"
        - $ref: "#/components/parameters/RaastMerchantListOffsetParam"
        - $ref: "#/components/parameters/RaastMerchantListStatusParam"
        - $ref: "#/components/parameters/RaastMerchantListNameParam"
      responses:
        "200":
          $ref: "#/components/responses/ListRaastMerchantsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/aggregators/{raast-aggregator-id}/raast-merchants/{raast-merchant-id}:
    parameters:
      - $ref: "#/components/parameters/AggregatorIdParam"
      - $ref: "#/components/parameters/RaastMerchantIdParam"
    get:
      tags:
        - Raast Merchants
      summary: Read Raast Merchant
      description: Explore a Raast merchant in detail.
      security:
        - apiKey: []
      responses:
        "200":
          $ref: "#/components/responses/FindRaastMerchantResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/aggregators/{raast-aggregator-id}/payments:
    parameters:
      - $ref: "#/components/parameters/AggregatorIdParam"
    post:
      tags:
        - Payments
      summary: Create RTP
      description: Create an RTP Now or Later Payment.
      security:
        - apiKey: []
      responses:
        "200":
          $ref: "#/components/responses/CreatePaymentResponse"
        "500":
          $ref: "#/components/responses/InternalError"
      requestBody:
        $ref: "#/components/requestBodies/CreatePayment"
    get:
      tags:
        - Payments
      summary: List Payments
      description: Filter payments using the supported query parameters.
      security:
        - apiKey: []
      parameters:
        - name: limit
          in: query
          required: false
          description: Maximum number of payments to return in the result set.
          example: 10
          schema:
            type: string
        - name: offset
          in: query
          required: false
          description: Number of payments to skip before starting the result set.
          example: 0
          schema:
            type: string
        - name: aggregator_merchant_id
          in: query
          required: false
          description: Filter by Safepay aggregator merchant identifier.
          example: am_1234567890
          schema:
            type: string
        - name: order_id
          in: query
          required: false
          description: Filter by the merchant supplied order identifier.
          example: O_12345
          schema:
            type: string
        - name: request_id
          in: query
          required: false
          description: Filter by the client generated idempotent request identifier.
          example: mMqCEa7Vajgtuu1VSXz4k8ri4R3
          schema:
            type: string
        - name: trace_reference
          in: query
          required: false
          description: Filter by the trace reference assigned during processing.
          example: bADGhCLmi8f7j9FeRDe3IuyQjCzlM34eZsGS1
          schema:
            type: string
        - name: msg_id
          in: query
          required: false
          description: Filter by the Raast network message identifier.
          example: dmNP1FtMPEQEjvFRJSMZI1VpWohKubU8yV6o2
          schema:
            type: string
        - name: pmt_inf_id
          in: query
          required: false
          description: Filter by the payment information identifier from the Raast message.
          example: sTvT4lBvWPHWXw7Y44msStMB
          schema:
            type: string
        - name: uetr
          in: query
          required: false
          description: Filter by the Unique End-to-end Transaction Reference (UETR).
          example: ee942c2e9854960d
          schema:
            type: string
        - name: status
          in: query
          required: false
          description: Filter by the payment status.
          example: P_RECEIVED
          schema:
            type: string
            enum:
              - P_INITIATED
              - P_RECEIVED
              - P_CANCELLED
              - P_REJECTED
              - P_FAILED
              - P_AUTHORIZED
              - P_REVERSED
              - P_CAPTURED
              - P_SETTLED
              - P_PARTIALLY_REFUNDED
              - P_REFUNDED
        - name: type
          in: query
          required: false
          description: Filter by the payment type.
          example: RTP_LATER
          schema:
            type: string
            enum:
              - RTP_NOW
              - RTP_LATER
              - STATIC_QR
              - DYNAMIC_QR
        - name: payment_id
          in: query
          required: false
          description: Filter by the payment identifier.
          example: pm_2288490a-2176-4de5-b373-0ffb6f8e2e6e
          schema:
            type: string
        - name: qr_code_id
          in: query
          required: false
          description: Filter by the QR code identifier associated with the payment.
          example: qr_503d916b-9ad5-44aa-8d41-1ad656882f7f
          schema:
            type: string
        - name: end_to_end_id
          in: query
          required: false
          description: Filter by the end-to-end identifier recorded for the payment.
          example: E2E-09771234
          schema:
            type: string
        - name: instr_id
          in: query
          required: false
          description: Filter by the instruction identifier from the Raast message payload.
          example: INSTR-88921
          schema:
            type: string
        - name: start_date
          in: query
          required: false
          description: Filter payments created on or after this date (UNIX timestamp).
          example: 1735689600
          schema:
            type: integer
        - name: end_date
          in: query
          required: false
          description: Filter payments created on or before this date (UNIX timestamp).
          example: 1767225600
          schema:
            type: integer
      responses:
        "200":
          $ref: "#/components/responses/ListPaymentsResponse"

  /v1/aggregators/{raast-aggregator-id}/payments/{payment-id}:
    parameters:
      - $ref: "#/components/parameters/AggregatorIdParam"
      - $ref: "#/components/parameters/PaymentIdParam"
    get:
      tags:
        - Payments
      summary: Find Payment
      description: Explore a payment in detail.
      security:
        - apiKey: []
      responses:
        "200":
          $ref: "#/components/responses/FindPaymentResponse"

  /v1/aggregators/{raast-aggregator-id}/payout:
    parameters:
      - $ref: "#/components/parameters/AggregatorIdParam"
    post:
      tags:
        - Payments
      summary: Payout
      description: Initiate a Raast payout to credit a beneficiary IBAN
      security:
        - apiKey: []
      requestBody:
        $ref: "#/components/requestBodies/CreatePayout"
      responses:
        "200":
          $ref: "#/components/responses/CreatePayoutResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /v1/aggregators/{raast-aggregator-id}/refunds:
    parameters:
      - $ref: "#/components/parameters/AggregatorIdParam"
    post:
      tags:
        - Refunds
      summary: Create Refund
      description: Issue a refund against a payment
      responses:
        "200":
          $ref: "#/components/responses/CreateRefundResponse"
      requestBody:
        $ref: "#/components/requestBodies/CreateRefund"
      security:
        - apiKey: []
    get:
      tags:
        - Refunds
      summary: List Refunds
      description: Retrieve a paginated list of refunds that have been issued
      security:
        - apiKey: []
      parameters:
        - name: limit
          in: query
          required: false
          example: 10
          schema:
            type: string
        - name: offset
          in: query
          required: false
          example: 0
          schema:
            type: string
        - name: payment_id
          in: query
          required: false
          description: Filter refunds by one or more payment identifiers.
          example:
            - pm_2288490a
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          required: false
          description: Filter refunds by one or more statuses.
          example:
            - R_COMPLETED
            - R_FAILED
            - R_INITIATED
            - R_CANCELED
          schema:
            type: array
            items:
              type: string
        - name: trace_reference
          in: query
          required: false
          description: Filter refunds by one or more trace references.
          example:
            - 90c4831d-e6d7-491e-a5f9-5f92c7cd1073
          schema:
            type: array
            items:
              type: string
        - name: msg_id
          in: query
          required: false
          description: Filter refunds by one or more Raast message identifiers.
          example:
            - H1KMBBKXMARBF3EEP5HATG27BHIAZ3GIH2J
          schema:
            type: array
            items:
              type: string
        - name: return_id
          in: query
          required: false
          description: Filter refunds by one or more return identifiers.
          example:
            - rtn_12345
          schema:
            type: array
            items:
              type: string
        - name: request_id
          in: query
          required: false
          description: Filter refunds by one or more client request identifiers.
          example:
            - 6a049190-3595-47cb-8603-7e310c3adb15
          schema:
            type: array
            items:
              type: string
        - name: refund_id
          in: query
          required: false
          description: Filter refunds by one or more refund identifiers.
          example:
            - rfd_7e26f9be-f59d-4025-8e17-9fc398d16230
          schema:
            type: array
            items:
              type: string
        - name: start_date
          in: query
          required: false
          description: Filter refunds created on or after this UNIX timestamp.
          example: 1735689600
          schema:
            type: integer
        - name: end_date
          in: query
          required: false
          description: Filter refunds created on or before this UNIX timestamp.
          example: 1767225600
          schema:
            type: integer
        - name: direction
          in: query
          required: false
          example: DESC
          schema:
            type: string
            enum:
              - ASC
              - DESC
      responses:
        "200":
          $ref: "#/components/responses/ListRefundsResponse"
        "500":
          $ref: "#/components/responses/InternalError"

  /v1/aggregators/{raast-aggregator-id}/refunds/{refund-id}:
    parameters:
      - $ref: "#/components/parameters/AggregatorIdParam"
      - $ref: "#/components/parameters/RefundIdParam"
    get:
      tags:
        - Refunds
      summary: Find Refund
      description: Explore a refund in detail.
      security:
        - apiKey: []
      responses:
        "200":
          $ref: "#/components/responses/FindRefundResponse"
        "500":
          $ref: "#/components/responses/InternalError"

  /v1/aggregators/{raast-aggregator-id}/qrs:
    parameters:
      - $ref: "#/components/parameters/AggregatorIdParam"
    post:
      tags:
        - QRs
      summary: Create QR
      description: Create a static or dynamic QR code
      security:
        - apiKey: []
      responses:
        "200":
          $ref: "#/components/responses/CreateQRCodeResponse"
      requestBody:
        $ref: "#/components/requestBodies/CreateQRCode"
    get:
      tags:
        - QRs
      summary: List QRs
      description: Retrieve a paginated list of QR codes. It supports pagination and filtering by `aggregator_merchant_id` and `type`. If no `type` is specified, it defaults to `STATIC`
      security:
        - apiKey: []
      parameters:
        - $ref: "#/components/parameters/QRListAggregatorMerchantIdParam"
        - $ref: "#/components/parameters/QRListTypeParam"
        - $ref: "#/components/parameters/QRListLimitParam"
        - $ref: "#/components/parameters/QRListOffsetParam"
      responses:
        "200":
          $ref: "#/components/responses/ListQRCodesResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/aggregators/{raast-aggregator-id}/qrs/{qr-id}:
    parameters:
      - $ref: "#/components/parameters/AggregatorIdParam"
      - $ref: "#/components/parameters/QRIdParam"
    get:
      tags:
        - QRs
      summary: Find QR
      description: Explore a QR code in detail
      security:
        - apiKey: []
      responses:
        "200":
          $ref: "#/components/responses/FindQRCodeResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
    delete:
      tags:
        - QRs
      summary: Delete QRs
      description: Delete a QR code that is previously issued.
      security:
        - apiKey: []
      parameters:
        - $ref: "#/components/parameters/QRDeleteAggregatorMerchantIdParam"
      responses:
        "200":
          $ref: "#/components/responses/StandardSuccess"
        "400":
          $ref: "#/components/responses/BadRequest"

  /v1/aggregators/{raast-aggregator-id}/qrs/{qr-id}/payments:
    parameters:
      - $ref: "#/components/parameters/AggregatorIdParam"
      - $ref: "#/components/parameters/QRIdParam"
    get:
      tags:
        - QRs
      summary: List payments
      description: Retrieve a paginated list of payments made against a QR code
      security:
        - apiKey: []
      parameters:
        - $ref: "#/components/parameters/QRPaymentListLimitParam"
        - $ref: "#/components/parameters/QRPaymentListOffsetParam"
      responses:
        "200":
          $ref: "#/components/responses/ListPaymentsForQRCodeResponse"

  /v1/aggregators/{raast-aggregator-id}/title-fetch:
    parameters:
      - $ref: "#/components/parameters/AggregatorIdParam"
    get:
      tags:
        - Utilities
      summary: Title Fetch
      description: Retrieve account title metadata for a Raast IBAN
      security:
        - apiKey: []
      parameters:
        - $ref: "#/components/parameters/TitleFetchIbanParam"
      responses:
        "200":
          $ref: "#/components/responses/TitleFetchResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/aggregators/{raast-aggregator-id}/account-info:
    parameters:
      - $ref: "#/components/parameters/AggregatorIdParam"
    get:
      tags:
        - Utilities
      summary: Read Account Info
      description: Retrieve Raast account metadata using an IBAN or alias lookup
      security:
        - apiKey: []
      parameters:
        - $ref: "#/components/parameters/AccountInfoIbanParam"
        - $ref: "#/components/parameters/AccountInfoWithTitleFetchParam"
        - $ref: "#/components/parameters/AccountInfoAliasTypeParam"
        - $ref: "#/components/parameters/AccountInfoAliasValueParam"
      responses:
        "200":
          $ref: "#/components/responses/AccountInfoResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/aggregators/{raast-aggregator-id}/aliases:
    parameters:
      - $ref: "#/components/parameters/AggregatorIdParam"
    get:
      tags:
        - Aliases
      summary: List aliases
      description: Retrieve a paginated list of aliases created. It supports pagination, filtering by `alias_type`, `status`, `merchant_identifier`, `start_date` and `expiration_date`.
      security:
        - apiKey: []
      parameters:
        - name: limit
          in: query
          required: false
          example: 10
          schema:
            type: integer
        - name: offset
          in: query
          required: false
          example: 0
          schema:
            type: integer
        - name: alias_type
          in: query
          required: false
          example: TILL_CODE
          schema:
            type: string
            enum:
              - TILL_CODE
        - name: status
          in: query
          required: false
          description: Filter aliases by status.
          example: Active
          schema:
            type: string
            enum:
              - Active
              - Suspended
        - name: merchant_identifier
          in: query
          required: false
          example: mer_553dad9b-3984-4131-8842-84983e922351
          schema:
            type: string
        - name: start_date
          in: query
          required: false
          example: 2028-10-10
          schema:
            type: string
            format: date
        - name: expiration_date
          in: query
          required: false
          example: 2033-11-10
          schema:
            type: string
            format: date
      responses:
        "200":
          $ref: "#/components/responses/ListAliasResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/aggregators/{raast-aggregator-id}/alias/{alias-id}:
    parameters:
      - $ref: "#/components/parameters/AggregatorIdParam"
      - $ref: "#/components/parameters/AliasIdParam"
    get:
      tags:
        - Aliases
      summary: Find Alias
      description: Explore alias in detail
      security:
        - apiKey: []
      responses:
        "200":
          $ref: "#/components/responses/FindAliasResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/aggregators/{raast-aggregator-id}/title-fetch/alias:
    parameters:
      - $ref: "#/components/parameters/AggregatorIdParam"
    get:
      tags:
        - Aliases
      summary: Title Fetch Alias
      description: Retrieve account title metadata for a Raast Alias
      security:
        - apiKey: []
      parameters:
        - $ref: "#/components/parameters/AliasTypeParam"
        - $ref: "#/components/parameters/AliasValueParam"
        - $ref: "#/components/parameters/AliasWithTitleFetchParam"
      responses:
        "200":
          $ref: "#/components/responses/AliasTitleFetchResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/aggregators/{raast-aggregator-id}/ledger/accounts:
    parameters:
      - $ref: "#/components/parameters/AggregatorIdParam"
    get:
      tags:
        - Ledgers
      summary: Find Aggregator Ledger Account
      description: Explore ledger account in detail
      security:
        - apiKey: []
      responses:
        "200":
          $ref: "#/components/responses/FindAggregatorLedgerAccountResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/aggregators/{raast-aggregator-id}/merchants/{aggregator-merchant-id}/ledger/accounts:
    parameters:
      - $ref: "#/components/parameters/AggregatorIdParam"
      - $ref: "#/components/parameters/MerchantIdParam"
    get:
      tags:
        - Ledgers
      summary: Find Merchant Ledger Account
      description: Explore ledger account in detail
      security:
        - apiKey: []
      responses:
        "200":
          $ref: "#/components/responses/FindMerchantLedgerAccountResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/aggregators/{raast-aggregator-id}/webhooks:
    post:
      tags:
        - Webhooks
      summary: Create Webhook
      security:
        - apiKey: []
      parameters:
        - $ref: "#/components/parameters/AggregatorIdParam"
      responses:
        "200":
          $ref: "#/components/responses/CreateWebhookResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
      requestBody:
        $ref: "#/components/requestBodies/CreateWebhook"
    get:
      tags:
        - Webhooks
      summary: List Webhooks
      description: Retrieve a paginated list of webhook endpoints.
      security:
        - apiKey: []
      parameters:
        - $ref: "#/components/parameters/WebhookListLimitParam"
        - $ref: "#/components/parameters/WebhookListOffsetParam"
      responses:
        "200":
          $ref: "#/components/responses/ListWebhookResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/aggregators/{raast-aggregator-id}/webhooks/{webhook-id}:
    parameters:
      - $ref: "#/components/parameters/AggregatorIdParam"
      - $ref: "#/components/parameters/WebhookIdParam"
    put:
      tags:
        - Webhooks
      summary: Update Webhook
      security:
        - apiKey: []
      responses:
        "200":
          $ref: "#/components/responses/UpdateWebhookResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
      requestBody:
        $ref: "#/components/requestBodies/UpdateWebhook"
    delete:
      tags:
        - Webhooks
      summary: Delete Webhook
      security:
        - apiKey: []
      responses:
        "200":
          $ref: "#/components/responses/EmptySuccess"
        "400":
          $ref: "#/components/responses/BadRequest"
    get:
      tags:
        - Webhooks
      summary: Find Webhook
      security:
        - apiKey: []
      responses:
        "200":
          $ref: "#/components/responses/FindWebhookResponse"
        "400":
          $ref: "#/components/responses/BadRequest"

  /v1/aggregators/{raast-aggregator-id}/webhooks/{webhook-id}/rotate:
    put:
      tags:
        - Webhooks
      summary: Rotate Webhook
      security:
        - apiKey: []
      parameters:
        - $ref: "#/components/parameters/AggregatorIdParam"
        - $ref: "#/components/parameters/WebhookIdParam"
      responses:
        "200":
          $ref: "#/components/responses/RotateWebhookResponse"
        "400":
          $ref: "#/components/responses/BadRequest"

  /v1/aggregators/{raast-aggregator-id}/webhooks/{endpoint}/deliveries/{delivery}:
    parameters:
      - $ref: "#/components/parameters/AggregatorIdParam"
      - $ref: "#/components/parameters/WebhookEndpointParam"
      - $ref: "#/components/parameters/WebhookDeliveryParam"
    get:
      tags:
        - Webhooks
      summary: Find Webhook Delivery
      description: Retrieve a specific webhook delivery status and payload.
      security:
        - apiKey: []
      responses:
        "200":
          $ref: "#/components/responses/FindWebhookDeliveryResponse"
        "400":
          $ref: "#/components/responses/BadRequest"

  /v1/aggregators/{raast-aggregator-id}/webhooks/{endpoint}/deliveries:
    parameters:
      - $ref: "#/components/parameters/AggregatorIdParam"
      - $ref: "#/components/parameters/WebhookEndpointParam"
    get:
      tags:
        - Webhooks
      summary: List Webhook Delivery
      description: Retrieve a paginated list of webhook deliveries. It supports pagination, filtering by `status`, `type` and `event_id`.
      security:
        - apiKey: []
      parameters:
        - $ref: "#/components/parameters/WebhookDeliveryListTypeParam"
        - $ref: "#/components/parameters/WebhookDeliveryListEventIdParam"
        - $ref: "#/components/parameters/WebhookDeliveryListStatusParam"
        - $ref: "#/components/parameters/WebhookDeliveryListLimitParam"
        - $ref: "#/components/parameters/WebhookDeliveryListOffsetParam"
      responses:
        "200":
          $ref: "#/components/responses/ListWebhookDeliveryResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
components:
  securitySchemes:
    apiKey:
      type: apiKey
      name: X-SFPY-AGGREGATOR-SECRET-KEY
      in: header
  headers:
    ContentLengthHeader:
      schema:
        type: string
        example: "256"
    DateHeader:
      schema:
        type: string
        example: Sat, 12 Aug 2023 08:55:04 GMT
  parameters:
    AggregatorIdParam:
      name: raast-aggregator-id
      in: path
      required: true
      schema:
        type: string
        example: agg_2288490a-2176-4de5-b373-0ffb6f8e2e6e
      description: The unique identifier for the aggregator
    AggregatorSecretKeyHeader:
      name: X-SFPY-AGGREGATOR-SECRET-KEY
      in: header
      required: false
      description: API key issued to the aggregator; supply when authenticating programmatic requests.
      schema:
        type: string
        example: sk_live_c66a5b38-0ce1-4f83-8d72-57b8f91a8762
    AggregatorSecretKeyHeaderRequired:
      name: X-SFPY-AGGREGATOR-SECRET-KEY
      in: header
      required: true
      description: API key issued to the aggregator; required when deleting QR codes.
      schema:
        type: string
        example: sk_live_c66a5b38-0ce1-4f83-8d72-57b8f91a8762
    AccessKeyIdParam:
      name: access-key-id
      in: path
      required: true
      schema:
        type: string
        example: ak_da8f1c10-346a-4be8-895a-b6187a9a9662
      description: The unique identifier for the access key
    MerchantIdParam:
      name: aggregator-merchant-id
      in: path
      required: true
      schema:
        type: string
        example: am_be454a50-7612-4dc6-a97e-284ebbe7ae93
      description: The unique identifier for the merchant
    MerchantListLimitParam:
      name: limit
      in: query
      required: false
      schema:
        type: string
        example: "10"
      description: Maximum number of merchants to return in a single page
    MerchantListOffsetParam:
      name: offset
      in: query
      required: false
      schema:
        type: string
        example: "0"
      description: Cursor offset used for pagination
    MerchantListEnabledParam:
      name: enabled
      in: query
      required: false
      schema:
        type: string
        example: "true"
      description: Filter merchants by their enabled status
    MerchantListIdentifiersParam:
      name: merchant_identifiers
      in: query
      required: false
      schema:
        type: string
        example: am_1234567890
      description: Comma-separated list of merchant identifiers to match
    MerchantListNamesParam:
      name: names
      in: query
      required: false
      schema:
        type: string
        example: Test Merchant
      description: Comma-separated list of merchant names to match
    RaastMerchantIdParam:
      name: raast-merchant-id
      in: path
      required: true
      schema:
        type: string
        example: mer_2cab1524-805d-4a09-8e51-924ddf3f43ea
      description: The unique identifier for the Raast merchant
    PaymentIdParam:
      name: payment-id
      in: path
      required: true
      schema:
        type: string
        example: pm_2288490a-2176-4de5-b373-0ffb6f8e2e6e
      description: The unique identifier for the payment
    RefundIdParam:
      name: refund-id
      in: path
      required: true
      schema:
        type: string
        example: rfd_7e26f9be-f59d-4025-8e17-9fc398d16230
      description: The unique identifier for the refund
    QRIdParam:
      name: qr-id
      in: path
      required: true
      schema:
        type: string
        example: qr_7e26f9be-f59d-4025-8e17-9fc398d16230
      description: The unique identifier for the QR code
    QRListAggregatorMerchantIdParam:
      name: aggregator_merchant_id
      in: query
      required: false
      schema:
        type: string
        example: am_be454a50-7612-4dc6-a97e-284ebbe7ae93
      description: Filter QR codes by Safepay aggregator merchant identifier
    QRListTypeParam:
      name: type
      in: query
      required: false
      schema:
        type: string
        enum:
          - STATIC
          - DYNAMIC
        example: STATIC
      description: Limit results to QR codes of the given type
    QRListLimitParam:
      name: limit
      in: query
      required: false
      schema:
        type: string
        example: "10"
      description: Maximum number of QR codes to include in the response
    QRListOffsetParam:
      name: offset
      in: query
      required: false
      schema:
        type: string
        example: "0"
      description: Number of QR codes to skip before starting the result set
    QRDeleteAggregatorMerchantIdParam:
      name: aggregator_merchant_id
      in: query
      required: false
      schema:
        type: string
        example: am_be454a50-7612-4dc6-a97e-284ebbe7ae93
      description: Optional aggregator merchant identifier used when deleting a QR code
    QRPaymentListLimitParam:
      name: limit
      in: query
      required: false
      description: Maximum number of payments to return for the QR code.
      schema:
        type: string
        example: "10"
      example: "10"
    QRPaymentListOffsetParam:
      name: offset
      in: query
      required: false
      description: Number of payments to skip before starting the result set.
      schema:
        type: string
        example: "0"
      example: "0"
    TitleFetchIbanParam:
      name: iban
      in: query
      required: false
      description: IBAN to fetch the registered account title for.
      schema:
        type: string
        example: PK46MPBL0101017140572181
      example: PK46MPBL0101017140572181
    AccountInfoIbanParam:
      name: iban
      in: query
      required: false
      description: IBAN to fetch account information for; optional when alias parameters are supplied.
      schema:
        type: string
        example: PK91ALFH0005001007079203
      example: PK91ALFH0005001007079203
    AccountInfoWithTitleFetchParam:
      name: with_title_fetch
      in: query
      required: false
      description: When true, include account title details in the response.
      schema:
        type: boolean
        example: true
      example: true
    AccountInfoAliasTypeParam:
      name: alias_type
      in: query
      required: false
      description: Alias type used for lookup; only MOBILE is supported currently.
      schema:
        type: string
        enum:
          - MOBILE
        example: MOBILE
      example: MOBILE
    AccountInfoAliasValueParam:
      name: alias_value
      in: query
      required: false
      description: Alias value to resolve; must be provided when alias_type is supplied.
      schema:
        type: integer
        example: 3472840476
      example: 3472840476
    AliasTypeParam:
      name: type
      in: query
      required: false
      description: Alias type used for lookup; only TILL_CODE is supported currently.
      schema:
        type: string
        example: TILL_CODE
      example: TILL_CODE
    AliasValueParam:
      name: value
      in: query
      required: false
      description: Alias value to resolve; must be provided when alias_type is supplied.
      schema:
        type: integer
        example: 541732040
      example: 541732040
    AliasWithTitleFetchParam:
      name: with_title_fetch
      in: query
      required: false
      description: When true, include account title details in the response.
      schema:
        type: boolean
        example: true
      example: true
    RaastMerchantListLimitParam:
      name: limit
      in: query
      required: false
      description: Maximum number of Raast merchants to return in the current page.
      schema:
        type: string
        example: "10"
      example: "10"
    RaastMerchantListOffsetParam:
      name: offset
      in: query
      required: false
      description: Number of Raast merchant records to skip before starting the result set.
      schema:
        type: string
        example: "0"
      example: "0"
    RaastMerchantListStatusParam:
      name: status
      in: query
      required: false
      description: Filter Raast merchants by onboarding status.
      schema:
        type: string
        enum:
          - Active
          - Inactive
          - Suspended
        example: Active
      example: Active
    RaastMerchantListNameParam:
      name: name
      in: query
      required: false
      description: Filter Raast merchants by name.
      schema:
        type: string
        example: Raast-Saphir-Merch
      example: Raast-Saphir-Merch
    LimitQueryParam:
      name: limit
      in: query
      required: false
      description: Maximum number of records to return in the current page
      schema:
        type: integer
        minimum: 0
        maximum: 100
        default: 10
        example: 10
      example: 10
    OffsetQueryParam:
      name: offset
      in: query
      required: false
      description: Number of records to skip before collecting the result set
      schema:
        type: integer
        minimum: 0
        default: 0
        example: 0
      example: 0
    AccessKeyNamesParam:
      name: names
      in: query
      required: false
      description: Filter keys by a comma-separated list of name fragments
      schema:
        type: string
        example: Primary Key,Backup Key
      example: Primary Key,Backup Key
    AccessKeyIsActiveParam:
      name: is_active
      in: query
      required: false
      description: Filter keys by active status using true or false
      schema:
        type: string
        enum:
          - true
          - false
        example: true
      example: true
    AliasIdParam:
      name: alias-id
      in: path
      required: true
      schema:
        type: string
        example: als_962c42c4-06a1-482f-a227-970453f29eb9
      description: The unique identifier for the alias
    WebhookIdParam:
      name: webhook-id
      in: path
      required: true
      schema:
        type: string
        example: wh_be2d4ee4-96b0-4104-92b2-95237fd3aa16
      description: The unique identifier for the webhook
    WebhookEndpointParam:
      name: endpoint
      in: path
      required: true
      schema:
        type: string
        example: wh_6b849c6f-c091-4ad3-b7a9-de06415c6db3
      description: The unique identifier for the webhook endpoint
    WebhookDeliveryParam:
      name: delivery
      in: path
      required: true
      schema:
        type: string
        example: whd_f35737a8-60d0-4d62-8259-9cade007570a
      description: The unique identifier for the webhook delivery
    WebhookListLimitParam:
      name: limit
      in: query
      required: false
      schema:
        type: string
        example: "10"
      description: Maximum number of webhook endpoints to include in the response
    WebhookListOffsetParam:
      name: offset
      in: query
      required: false
      schema:
        type: string
        example: "0"
      description: Number of webhook endpoints to skip before starting the result set
    WebhookDeliveryListLimitParam:
      name: limit
      in: query
      required: false
      schema:
        type: string
        example: "10"
      description: Maximum number of Webhook deliveries to include in the response
    WebhookDeliveryListOffsetParam:
      name: offset
      in: query
      required: false
      schema:
        type: string
        example: "0"
      description: Number of Webhook deliveries to skip before starting the result set
    WebhookDeliveryListStatusParam:
      name: status
      in: query
      required: false
      description: Filter Webhook deliveries by their status.
      schema:
        type: string
        enum:
          - WD_PENDING
          - WD_DELIVERED
          - WD_FAILED
          - WD_DEAD
        example: WD_DELIVERED
      example: WD_DELIVERED
    WebhookDeliveryListEventIdParam:
      name: event_id
      in: query
      required: false
      description: Filter Webhook deliveries by event_id.
      schema:
        type: string
        example: txnlog_5246fdcc-6c86-49bb-9da2-aa38262e0291
    WebhookDeliveryListTypeParam:
      name: type
      in: query
      required: false
      schema:
        type: string
        enum:
          - payment.created
          - payment.pending_authorization
          - payment.authorized
          - payment.completed
          - payment.settled
          - payment.refunded
          - payment.refund_partial
          - payment.rejected
          - payment.failed
          - payment.reversed
          - payment.voided
          - settlement.created
          - settlement.processing
          - settlement.completed
          - settlement.failed
          - settlement.on_hold
          - settlement.reversed
          - refund.created
          - refund.completed
          - refund.failed
          - refund.canceled
        example: refund.created
      description: Limit results to Webhook deliveries of the given type
  schemas:
    CreateRtpBase:
      type: object
      description: Base RTP creation payload shared across all debitor identifier options.
      properties:
        request_id:
          type: string
          description: Client-supplied idempotency identifier for the RTP request.
        amount:
          type: integer
          description: Payment amount in the smallest currency unit (PKR).
        aggregator_merchant_identifier:
          type: string
          description: Identifier for the merchant on whose behalf the RTP is initiated.
        order_id:
          type: string
          description: Merchant order identifier associated with the RTP.
        type:
          type: string
          description: Indicates whether the RTP should be processed immediately or scheduled.
          enum:
            - RTP_NOW
            - RTP_LATER
        expiry_in_minutes:
          type: integer
          description: Minutes until the RTP NOW request expires; must be between 1 and 180.
          minimum: 1
          maximum: 180
        expiry_in_days:
          type: integer
          description: Days until the RTP LATER request expires; must be between 1 and 40.
          minimum: 1
          maximum: 40
      required:
        - request_id
        - amount
        - aggregator_merchant_identifier
        - order_id
        - type

    CreateRtpWithRaastId:
      allOf:
        - $ref: "#/components/schemas/CreateRtpBase"
        - type: object
          properties:
            debitor_raast_id:
              type: string
              description: Raast alias for the debitor (for example, a mobile number).
          required:
            - debitor_raast_id

    CreateRtpWithIban:
      allOf:
        - $ref: "#/components/schemas/CreateRtpBase"
        - type: object
          properties:
            debitor_iban:
              type: string
              description: Debitor IBAN for direct account routing.
          required:
            - debitor_iban

    CreateRtpWithVaultToken:
      allOf:
        - $ref: "#/components/schemas/CreateRtpBase"
        - type: object
          properties:
            debitor_vault_token:
              type: string
              description: Token referencing a stored debitor payment instrument in the vault.
          required:
            - debitor_vault_token

    Timestamp:
      type: string
      format: date-time
      description: ISO 8601 timestamp in UTC
      example: 2025-03-13T09:12:34Z
    StandardResponse:
      type: object
      description: Standard response structure for successful operations
      properties:
        api_version:
          type: string
          example: v1
          description: The current version of the API spec
        data:
          type: object
          description: Contains the response data
    ErrorResponse:
      type: object
      description: Standard error response structure
      properties:
        code:
          type: string
          description: Error code identifying the type of error
        message:
          type: string
          description: Human-readable error message
    ApiErrorEnvelope:
      type: object
      description: Error wrapper that includes the API version and error metadata
      properties:
        api_version:
          type: string
          description: Indicates the API version associated with the response
          example: v1
        error:
          description: Structured error details describing why the request failed
          allOf:
            - $ref: "#/components/schemas/ErrorResponse"
          example:
            code: error.unauthorized_access
            message: partner access key is required in request header
    TitleFetchResult:
      type: object
      description: Raast account title lookup result
      properties:
        statusCode:
          type: integer
          description: Numeric status code returned by the Raast directory
        acctitle:
          type: string
          description: Registered account title associated with the IBAN
        acctype:
          type: string
          description: Classification of the account tied to the IBAN
    AccountInfo:
      type: object
      description: Raast account metadata resolved by IBAN or alias lookup
      properties:
        iban:
          type: string
          description: IBAN associated with the account when available
        type:
          type: string
          description: Raast account classification code
        currency:
          type: string
          description: ISO 4217 currency code for the account
        servicer_member_id:
          type: string
          description: Member identifier of the servicing institution
        name:
          type: string
          description: Registered account holder name
        is_default:
          type: boolean
          description: Indicates if the account is the default for the merchant
        dba:
          type: string
          description: Doing-business-as name if present
        mcc:
          type: string
          description: Merchant category code associated with the account
        account_title:
          type: string
          description: Account title when title fetch is requested
        account_type:
          type: string
          description: Account type description returned from Raast
    PaymentParty:
      type: object
      description: Participant record linked to a payment or payout
      properties:
        id:
          type: string
          description: Internal Safepay identifier for the payment party
        token:
          type: string
          description: Public token representing the payment party
        role:
          type: string
          description: Role played by the participant in the transaction lifecycle
        payment_id:
          type: string
          description: Identifier of the payment that this party belongs to
        bank_account_id:
          type: string
          description: Identifier of the linked bank account
        bank_account:
          description: Bank account resource associated with the party when available
          $ref: "#/components/schemas/BankAccount"
        created_at:
          $ref: "#/components/schemas/Timestamp"
        updated_at:
          $ref: "#/components/schemas/Timestamp"
    Aggregator:
      type: object
      description: Aggregator resource containing configuration and linked access keys
      properties:
        token:
          type: string
          description: Public token assigned to the aggregator
          example: agg_tok_2b42c4d0
        partner_id:
          type: string
          description: Partner identifier associated with the aggregator account
          example: partner_123456
        bank_account_id:
          type: string
          description: Identifier of the default settlement bank account
          example: ba_2cab1524-805d-4a09-8e51-924ddf3f43ea
        name:
          type: string
          description: Human-readable name of the aggregator
          example: Example Aggregator
        is_active:
          type: boolean
          description: Indicates whether the aggregator is currently active
          example: true
        is_super:
          type: boolean
          description: Indicates whether the aggregator has super admin privileges
          example: true
        vault_enabled:
          type: boolean
          description: Specifies if Safepay vault features are enabled for the aggregator
          example: true
        bank_account:
          description: Bank account resource associated with the aggregator when available
          $ref: "#/components/schemas/BankAccount"
        keys:
          type: array
          description: Collection of access keys associated with the aggregator
          items:
            $ref: "#/components/schemas/AccessKey"
        created_at:
          description: Timestamp indicating when the aggregator was created
          allOf:
            - $ref: "#/components/schemas/Timestamp"
        updated_at:
          description: Timestamp indicating the last update to the aggregator
          allOf:
            - $ref: "#/components/schemas/Timestamp"
    AccessKey:
      type: object
      description: Access key credential used to authenticate aggregator API requests
      properties:
        id:
          type: string
          description: Internal identifier for the access key
          example: ak_da8f1c10-346a-4be8-895a-b6187a9a9662
        token:
          type: string
          description: Public token that represents the access key
          example: ak_tok_fede37a6
        key_id:
          type: string
          description: External identifier for the key exposed to clients
          example: key_live_e111f1c10
        aggregator_id:
          type: string
          description: Aggregator identifier that owns the access key
          example: agg_2288490a-2176-4de5-b373-0ffb6f8e2e6e
        is_active:
          type: boolean
          description: Indicates whether the key can be used for authentication
          example: true
        name:
          type: string
          description: Friendly label assigned to the access key
          example: Primary Production Key
        secret:
          type: string
          description: Secret value issued for the key; only returned on creation or rotation
          example: sk_live_uMPN7cX2b1
        created_at:
          description: Timestamp indicating when the key was provisioned
          allOf:
            - $ref: "#/components/schemas/Timestamp"
        updated_at:
          description: Timestamp indicating the last update applied to the key
          allOf:
            - $ref: "#/components/schemas/Timestamp"
    BankAccount:
      type: object
      properties:
        id:
          type: string
          description: Internal Safepay identifier for the bank account
        token:
          type: string
        vault_token:
          type: string
        title:
          type: string
        iban:
          type: string
        redacted_iban:
          type: string
        hashed_iban:
          type: string
        servicer:
          type: string
        bank:
          type: string
        depositor_id:
          type: string
        owner:
          type: string
        kind:
          type: integer
        version:
          type: string
        created_at:
          $ref: "#/components/schemas/Timestamp"
        updated_at:
          $ref: "#/components/schemas/Timestamp"
    RaastMerchant:
      type: object
      description: Raast merchant profile synchronized from the state bank registry
      properties:
        id:
          type: string
          description: Internal Safepay identifier for the Raast merchant record
        token:
          type: string
          description: Public Raast merchant token
        partner_id:
          type: string
          description: Identifier of the upstream partner associated with the merchant
        raast_record_id:
          type: string
          description: Identifier issued by the Raast directory
        status:
          type: string
          description: Current activation status reported by Raast
        uid_type:
          type: string
          description: Type of the merchant unique identifier such as NTN or CNIC
        uid_value:
          type: string
          description: Value of the unique identifier registered with Raast
        name:
          type: string
          description: Legal entity name on file with Raast
        document_type:
          type: string
          description: Supporting document type recorded during onboarding
        document_number:
          type: string
          description: Number of the supporting document
        address_details:
          type: object
          description: Merchant registered address per Raast records
          properties:
            country:
              type: string
              description: ISO 3166-1 alpha-2 country code
            city:
              type: string
              description: City of the address
            state_province_region:
              type: string
              description: Province or region of the address
            address_line:
              type: string
              description: Street-level address line
        contact_details:
          type: object
          description: Merchant contact information on file
          properties:
            mobile_number:
              type: string
              description: Merchant contact mobile number in E.164 format
            email:
              type: string
              format: email
              description: Merchant contact email address
        additional_details:
          type: object
          description: Optional public metadata collected during onboarding
          properties:
            dba:
              type: string
              description: Doing-business-as name if different from the legal name
            mcc:
              type: string
              description: Merchant category code associated with the merchant
            lat:
              type: string
              description: Latitude coordinate when available
            long:
              type: string
              description: Longitude coordinate when available
        additional_details_private:
          type: object
          description: Safepay private metadata for the Raast merchant
        created_at:
          $ref: "#/components/schemas/Timestamp"
        updated_at:
          $ref: "#/components/schemas/Timestamp"
    RateCard:
      type: object
      description: Rate configuration associated with a merchant for Raast payments
      properties:
        id:
          type: string
          description: Internal Safepay identifier for the rate card linkage
        token:
          type: string
          description: Public token representing the merchant rate card
        aggregator_merchant_id:
          type: string
          description: Identifier of the aggregator merchant that owns the rate card
        connector_id:
          type: string
          description: Identifier of the connector through which payments are processed
        rate_card_id:
          type: string
          description: Identifier of the underlying rate definition template
        ratecard_kind:
          $ref: "#/components/schemas/RateCardKind"
        fixed_rate:
          type: integer
          description: Fixed transaction fee in paisa when applicable
        tax_rate:
          type: number
          description: Tax rate applied to the fixed fee (fractional value)
        tax_region:
          type: string
          description: Region for which the tax rate applies
        variable_rate:
          type: number
          description: Percentage fee applied to the transaction amount
        sales_tax_withholding:
          type: number
          description: Sales tax withholding rate applied to the transaction (fractional value)
        income_tax_withholding:
          type: number
          description: Income tax withholding rate applied to the transaction (fractional value)
        created_at:
          $ref: "#/components/schemas/Timestamp"
        updated_at:
          $ref: "#/components/schemas/Timestamp"
    RateCardKind:
      type: string
      description: "Enumerated rate card strategy where numeric Raast values map to constants (0: RateCardKind_unspecified, 1: RateCardKind_variable, 2: RateCardKind_fixed, 3: RateCardKind_blend)."
      enum:
        - RateCardKind_unspecified
        - RateCardKind_variable
        - RateCardKind_fixed
        - RateCardKind_blend
      example: RateCardKind_fixed
    Merchant:
      type: object
      description: Merchant resource created under an aggregator for Raast transactions
      properties:
        id:
          type: string
          description: Internal Safepay identifier for the merchant
        token:
          type: string
          description: Public token identifying the aggregator merchant
        name:
          type: string
          description: Display name of the merchant
        aggregator_id:
          type: string
          description: Identifier of the aggregator that owns the merchant
        merchant_id:
          type: string
          description: Identifier of the linked Raast merchant account
        merchant_external_id:
          type: string
          description: Original merchant identifier provided by the aggregator
        bank_account_id:
          type: string
          description: Identifier of the settlement bank account
        enabled:
          type: boolean
          description: Indicates whether the merchant is currently active
        bank_account:
          $ref: "#/components/schemas/BankAccount"
        raast_merchant:
          $ref: "#/components/schemas/RaastMerchant"
        rate_card:
          $ref: "#/components/schemas/RateCard"
        created_at:
          $ref: "#/components/schemas/Timestamp"
        updated_at:
          $ref: "#/components/schemas/Timestamp"
    TransactionLogs:
      type: object
      description: Event log generated for a payment lifecycle transition.
      properties:
        id:
          type: string
          description: Identifier of the transaction log entry.
        type:
          type: string
          description: Classification of the logged event.
        payment_id:
          type: string
          description: Identifier of the payment linked to the event.
        status:
          type: string
          description: Payment status recorded by this log entry.
        refund_id:
          type: string
          description: Refund identifier when the log entry references a refund.
        settlement_id:
          type: string
          description: Settlement identifier when the log entry references settlement activity.
        txn_desc:
          type: string
          description: Human-readable description of the event.
        addtl_info:
          type: string
          description: Additional information provided for the event.
        token:
          type: string
          description: Public token assigned to the log entry.
        timestamp:
          type: string
          format: date-time
          description: ISO-8601 timestamp captured for the event.
        iso_msg_type:
          type: string
          description: Raast ISO message type associated with this event.
    QRCode:
      type: object
      properties:
        id:
          type: string
        token:
          type: string
        aggregator_merchant_id:
          type: string
        type:
          type: string
        code:
          type: string
        terminal_label:
          type: string
        reference_label:
          type: string
        is_deleted:
          type: boolean
        created_at:
          type: string
          format: date-time
    Alias:
      type: object
      description: Raast alias record
      properties:
        id:
          type: string
        token:
          type: string
        merchant_id:
          type: string
        alias_type:
          type: string
          description: Type of alias (e.g., TILL_CODE)
        alias_value:
          type: string
          description: The alias value (e.g., 541732040)
        status:
          type: string
          description: Current status of the alias (e.g., Active, Suspended)
        start_date:
          type: string
          format: date
          description: Start date for the alias validity
        expiration_date:
          type: string
          format: date
          description: Expiration date for the alias validity
        opening_date:
          type: string
          format: date
          description: Opening date of the alias
        closing_date:
          type: string
          format: date
          description: Closing date of the alias
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        alias_record_id:
          type: string
          description: Raast alias record identifier
    LedgerAccount:
      type: object
      description: ledger account record
      properties:
        id:
          type: string
        token:
          type: string
        account_type:
          type: string
        account_name:
          type: string
        normal_balance:
          type: string
        balance:
          type: string
        currency:
          type: string
        running_balance:
          type: string
        vault_token:
          type: string
        bank_acct_id:
          type: string
        external_partner_id:
          type: string
        external_aggregator_id:
          type: string
        external_merchant_id:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Payment:
      type: object
      description: Payment record returned by Safepay aggregator APIs.
      properties:
        id:
          type: string
          description: Internal identifier for the payment record.
        token:
          type: string
          description: Public token that uniquely identifies the payment.
        aggregator_id:
          type: string
          description: Aggregator identifier that owns the payment.
        aggregator_merchant_id:
          type: string
          description: Aggregator merchant on whose behalf the payment was initiated.
        qr_code_id:
          type: string
          description: Identifier of the QR code associated with the payment.
        order_id:
          type: string
          description: Merchant-supplied order identifier for the payment.
        type:
          type: string
          description: Indicates how the payment request was initiated.
          enum:
            - RTP_NOW
            - RTP_LATER
            - STATIC_QR
            - DYNAMIC_QR
        amount:
          type: string
          description: Payment amount expressed as a string to preserve formatting.
        status:
          type: string
          description: Current status of the payment.
          enum:
            - P_INITIATED
            - P_RECEIVED
            - P_CANCELLED
            - P_REJECTED
            - P_FAILED
            - P_AUTHORIZED
            - P_REVERSED
            - P_CAPTURED
            - P_SETTLED
            - P_PARTIALLY_REFUNDED
            - P_REFUNDED
        uetr:
          type: string
          description: Unique End-to-end Transaction Reference assigned by Raast.
        trace_reference:
          type: string
          description: Trace reference identifier used for reconciliation.
        msg_id:
          type: string
          description: Raast network message identifier for the payment.
        instr_id:
          type: string
          description: Instruction identifier from the Raast message payload.
        end_to_end_id:
          type: string
          description: End-to-end identifier recorded for the payment.
        pmt_inf_id:
          type: string
          description: Payment information identifier from the Raast message.
        request_id:
          type: string
          description: Client-supplied idempotency identifier.
        msg_created_at:
          type: string
          description: Timestamp captured in the Raast message associated with the payment.
        expires_at:
          allOf:
            - $ref: "#/components/schemas/Timestamp"
          description: Expiry timestamp for the payment request.
          nullable: true
        created_at:
          allOf:
            - $ref: "#/components/schemas/Timestamp"
          description: Timestamp when the payment record was created.
        updated_at:
          allOf:
            - $ref: "#/components/schemas/Timestamp"
          description: Timestamp when the payment record was last updated.
        txn_logs:
          type: array
          description: Lifecycle events generated for the payment.
          items:
            $ref: "#/components/schemas/TransactionLogs"
        payment_parties:
          type: array
          description: Participant records involved in the payment lifecycle.
          items:
            $ref: "#/components/schemas/PaymentParty"
        debitor:
          type: object
          description: Debitor metadata when available.
          nullable: true
        qr_code:
          allOf:
            - $ref: "#/components/schemas/QRCode"
          description: QR code details associated with the payment when available.
          nullable: true
        aggregator_merchant:
          allOf:
            - $ref: "#/components/schemas/Merchant"
          description: Aggregator merchant details when linked to the payment.
          nullable: true
        refunds:
          type: array
          description: Refunds applied to the payment.
          items:
            $ref: "#/components/schemas/Refund"
        settlement:
          type: object
          description: Settlement information for the payment when applicable.
          nullable: true
    PaymentCreationResult:
      type: object
      description: Data returned when an RTP request is created successfully.
      properties:
        message:
          type: string
          description: Human-readable confirmation message from the API.
        token:
          type: string
          description: Public token representing the newly created payment.
        msg_id:
          type: string
          description: Raast network message identifier assigned to the request.
        trace_reference:
          type: string
          description: Trace reference generated for reconciliation.
        uetr:
          type: string
          description: Unique End-to-end Transaction Reference associated with the payment.
        status:
          type: string
          description: Initial status assigned to the payment after creation.
          enum:
            - P_INITIATED
            - P_RECEIVED
            - P_CANCELLED
            - P_REJECTED
            - P_FAILED
            - P_AUTHORIZED
            - P_REVERSED
            - P_CAPTURED
            - P_SETTLED
            - P_PARTIALLY_REFUNDED
            - P_REFUNDED
        order_id:
          type: string
          description: Merchant order identifier echoed back in the response.
        created_at:
          type: string
          format: date-time
          description: Timestamp when the payment was created in the Safepay platform.
    Refund:
      type: object
      properties:
        token:
          type: string
        payment_id:
          type: string
        amount:
          type: string
        type:
          type: string
        reason:
          type: string
        addtl_info:
          type: string
        status:
          type: string
        trace_reference:
          type: string
        msg_id:
          type: string
        return_id:
          type: string
        request_id:
          type: string
        msg_created_at:
          $ref: "#/components/schemas/Timestamp"
        settle_at:
          nullable: true
        created_at:
          $ref: "#/components/schemas/Timestamp"
        updated_at:
          $ref: "#/components/schemas/Timestamp"
    EMVCoDetails:
      type: object
      properties:
        payload_format_indicator:
          type: string
        point_of_initiation_method:
          type: string
        merchant_category_code:
          type: string
        transaction_currency:
          type: string
        transaction_amount:
          type: string
        country_code:
          type: string
        merchant_name:
          type: string
        merchant_city:
          type: string
        postal_code:
          type: string
        tip_or_convenience_indicator:
          type: string
        convenience_fixed_fee:
          type: string
        convenience_percentage_fee:
          type: string
        crc:
          type: string
        additional_data_field_template:
          type: object
          properties:
            bill_number:
              type: string
            store_label:
              type: string
            loyalty_label:
              type: string
            customer_label:
              type: string
            reference_label:
              type: string
            terminal_label:
              type: string
            transaction_purpose:
              type: string
            additional_consumer_request:
              type: string
            country_code:
              type: string
            rfu_for_emvco:
              type: array
              items: {}
            payment_system_specific:
              type: array
              items: {}
        merchant_information_language_template:
          nullable: true
        merchant_account_information:
          type: array
          items:
            type: object
            properties:
              tag:
                type: string
              value:
                type: object
                properties:
                  globally_unique_identifier:
                    type: object
                    properties:
                      tag:
                        type: string
                      value:
                        type: string
                  payment_network_specific:
                    type: array
                    items:
                      type: object
                      properties:
                        tag:
                          type: string
                        value:
                          type: string
        rfu_for_emvco:
          type: array
          items: {}
        unreserved_templates:
          type: array
          items:
            type: object
            properties:
              tag:
                type: string
              value:
                type: object
                properties:
                  globally_unique_identifier:
                    type: object
                    properties:
                      tag:
                        type: string
                      value:
                        type: string
                  context_specific_data:
                    type: array
                    items:
                      type: object
                      properties:
                        tag:
                          type: string
                        value:
                          type: string
    QRCodeDetailed:
      type: object
      description: Detailed QR code payload including EMVCo metadata for static and dynamic QR representations.
      properties:
        id:
          type: string
          description: Internal identifier assigned to the QR code record.
        token:
          type: string
          description: Public token referencing the QR code.
        aggregator_merchant_id:
          type: string
          description: Identifier of the aggregator merchant that owns the QR code.
        type:
          type: string
          description: Indicates whether the QR code is STATIC or DYNAMIC.
        code:
          type: string
          description: Complete EMVCo QR string that can be rendered for scanning.
        terminal_label:
          type: string
          description: Optional terminal label encoded in the QR code.
        reference_label:
          type: string
          description: Optional reference label encoded in the QR code.
        is_deleted:
          type: boolean
          description: Flag indicating whether the QR code has been revoked or deleted.
        code_details:
          allOf:
            - $ref: "#/components/schemas/EMVCoDetails"
          description: Parsed EMVCo details extracted from the QR string.
        created_at:
          allOf:
            - $ref: "#/components/schemas/Timestamp"
          description: Timestamp when the QR code was created.
        expired_at:
          allOf:
            - $ref: "#/components/schemas/Timestamp"
          description: Timestamp when the QR code expires, when applicable.
    Webhook:
      type: object
      properties:
        token:
          type: string
        aggregator_id:
          type: string
        url:
          type: string
        description:
          type: string
        enabled:
          type: boolean
        event_filter_json:
          type: string
        secret:
          type: string
        secret_version:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        secret_rotated_at:
          type: string
          format: date-time
    WebhookDelivery:
      type: object
      description: Delivery attempt metadata for a webhook event.
      properties:
        token:
          type: string
          description: Public token representing the webhook delivery.
        endpoint_token:
          type: string
          description: Identifier of the webhook endpoint this delivery was sent to.
        aggregator_id:
          type: string
          description: Aggregator that owns the webhook endpoint.
        event_id:
          type: string
          description: Event identifier associated with this delivery.
        type:
          type: string
          description: Event type delivered.
        payload_json:
          type: string
          description: Raw JSON payload delivered to the endpoint.
        status:
          type: string
          description: Current status of the delivery attempt.
        attempts:
          type: integer
          description: Number of attempts made to deliver the payload.
        last_error:
          type: string
          description: Last error message if delivery failed.
        next_attempt_at:
          $ref: "#/components/schemas/Timestamp"
          description: Timestamp for the next scheduled retry, if applicable.
        created_at:
          $ref: "#/components/schemas/Timestamp"
        delivered_at:
          $ref: "#/components/schemas/Timestamp"

  requestBodies:
    CreateAccessKey:
      description: Request to create a new access key
      content:
        application/json:
          schema:
            type: object
            description: Defines the attributes required to create a new access key
            properties:
              is_active:
                type: boolean
                description: Indicates whether the newly created access key should be enabled immediately
                example: true
              name:
                type: string
                description: Human-readable label that helps distinguish this access key
                example: Developer Access Key
            required:
              - is_active
              - name
          examples:
            Create AccessKey:
              value:
                is_active: true
                name: Developer Access Key
    UpdateAccessKey:
      description: Request to update an existing access key
      content:
        application/json:
          schema:
            type: object
            description: Fields that can be modified on an existing access key
            properties:
              is_active:
                type: boolean
                description: Toggle indicating whether the key should be active
                example: false
              name:
                type: string
                description: Updated label for the access key
                example: Updated Access Key
          examples:
            Disable AccessKey:
              value:
                is_active: false
            Change AccessKey Name:
              value:
                name: Updated Access Key
    AccountInfoRequest:
      description: Optional body parameters for account info lookups.
      content:
        application/json:
          schema:
            type: object
            description: Additional filters to supply when resolving account information.
            properties:
              iban:
                type: string
                description: IBAN to fetch account information for; optional when alias parameters are supplied.
                example: PK91ALFH0005001007079203
              with_title_fetch:
                type: boolean
                description: When true, include account title details in the response.
                example: true
          examples:
            AccountInfoBody:
              value:
                iban: PK91ALFH0005001007079203
                with_title_fetch: true
    CreateMerchant:
      description: Request to create a merchant linked to an aggregator
      content:
        application/json:
          schema:
            type: object
            description: Merchant creation payload specifying identifiers and pricing configuration
            properties:
              merchant_external_id:
                type: string
                description: Client-supplied identifier that remains stable across Safepay integrations
              iban:
                type: string
                description: Settlement IBAN used for Raast payouts
              name:
                type: string
                description: Merchant display name
              enabled:
                type: boolean
                description: Indicates whether the merchant should be active immediately after creation
              raast_merchant_id:
                type: string
                description: Identifier of the previously onboarded Raast merchant to associate
              rate_card:
                type: object
                description: Rate configuration Safepay applies to Raast transactions
                properties:
                  ratecard_kind:
                    $ref: "#/components/schemas/RateCardKind"
                  fixed_rate:
                    type: integer
                    description: Fixed per-transaction fee in paisa when using a fixed rate card
                  variable_rate:
                    type: number
                    description: Percentage fee applied to the transaction amount
                  tax_region:
                    type: string
                    description: Region for which the tax rate applies
                  tax_rate:
                    type: number
                    description: Applicable tax rate expressed as a fraction (e.g., 0.1 for 10%)
                  sales_tax_withholding:
                    type: number
                    description: Sales tax withholding rate applied to the transaction (fractional value)
                  income_tax_withholding:
                    type: number
                    description: Income tax withholding rate applied to the transaction (fractional value)
                required:
                  - ratecard_kind
                  - tax_rate
            required:
              - merchant_external_id
              - iban
              - name
              - raast_merchant_id
              - rate_card
          examples:
            Create Merchant:
              value:
                merchant_external_id: sec_0c3de397-441f-471f-bcd7-b6d948e1c307
                iban: PK62ABPA0010000222380013
                name: TestingMerchant
                enabled: true
                raast_merchant_id: mer_eb2f5757-c0e4-4eb4-ad4b-2f4b671a84e2
                rate_card:
                  ratecard_kind: RateCardKind_fixed
                  variable_rate: 0.0215
                  fixed_rate: 2900
                  tax_rate: 0.1
                  tax_region: Punjab
                  sales_tax_withholding: 0.10
                  income_tax_withholding: 0.02
    UpdateMerchant:
      description: Request to update an existing aggregator merchant
      content:
        application/json:
          schema:
            type: object
            description: Fields that can be modified for an existing aggregator merchant
            properties:
              name:
                type: string
                description: Merchant display name
              enabled:
                type: boolean
                description: Indicates whether the merchant should be active for Raast payments
              iban:
                type: string
                description: Settlement IBAN used for Raast payouts
              rate_card:
                type: object
                description: Rate configuration Safepay applies to the merchant's Raast transactions
                properties:
                  ratecard_kind:
                    $ref: "#/components/schemas/RateCardKind"
                  fixed_rate:
                    type: integer
                    description: Fixed per-transaction fee in paisa
                  variable_rate:
                    type: number
                    description: Fractional fee applied to the transaction amount
                  tax_region:
                    type: string
                    description: Region where the tax rate applies
                  tax_rate:
                    type: number
                    description: Applicable tax rate expressed as a fraction (e.g., 0.1 for 10%)
                  sales_tax_withholding:
                    type: number
                    description: Sales tax withholding rate applied to the transaction (fractional value)
                  income_tax_withholding:
                    type: number
                    description: Income tax withholding rate applied to the transaction (fractional value)
          examples:
            Update Merchant:
              value:
                name: NSH merchant
                enabled: true
                iban: PK85HABB0002157901170103
                rate_card:
                  ratecard_kind: RateCardKind_fixed
                  variable_rate: 0.0215
                  fixed_rate: 2900
                  tax_rate: 0.1
                  tax_region: Punjab
                  sales_tax_withholding: 0.10
                  income_tax_withholding: 0.02
    CreatePayment:
      description: Request to create an RTP Now or RTP Later
      content:
        application/json:
          schema:
            oneOf:
              - $ref: "#/components/schemas/CreateRtpWithRaastId"
              - $ref: "#/components/schemas/CreateRtpWithIban"
              - $ref: "#/components/schemas/CreateRtpWithVaultToken"
          examples:
            Create RTP Now with Raast Alias:
              value:
                request_id: "c69aa27b-7b42-448b-af73-963bef1c5e42"
                amount: 94000
                debitor_raast_id: "03202296111"
                aggregator_merchant_identifier: am_d7fd05ea-8613-4038-afd7-4275f29110f5
                order_id: order_raast_id
                type: RTP_NOW
                expiry_in_minutes: 100
            Create RTP Now with IBAN:
              value:
                request_id: "7a1b5307-4fe2-41a7-8bde-55c17de88f3d"
                amount: 32000
                debitor_iban: PK89SCBL0000001234651601
                aggregator_merchant_identifier: am_749fe6ce-91f9-4f6a-9df2-ec6ae9f75a30
                order_id: order_now_iban
                type: RTP_NOW
                expiry_in_minutes: 45
            Create RTP Later with Vault Token:
              value:
                request_id: "3f7392b4-78c4-47a5-9fbc-9c74fc021970"
                amount: 22000
                debitor_vault_token: lock_441d2a6f-5aea-4e0e-a7c8-48cae1273e66
                aggregator_merchant_identifier: am_749fe6ce-91f9-4f6a-9df2-ec6ae9f75a30
                order_id: order_paylater_token
                type: RTP_LATER
                expiry_in_days: 7
    CreatePayout:
      description: Request to initiate a payout
      content:
        application/json:
          schema:
            type: object
            description: Payout initiation payload
            properties:
              request_id:
                type: string
                description: Unique identifier supplied by the client to ensure idempotency
              amount:
                type: string
                description: Amount to credit in PKR, expressed as a string to preserve formatting
              creditor_iban:
                type: string
                description: Destination IBAN that receives the payout
            required:
              - request_id
              - amount
              - creditor_iban
          examples:
            Create Payout:
              value:
                request_id: d44940a1-663b-4d92-91e7-65438e4bf80b
                amount: "200"
                creditor_iban: PK25ALFH0216001008658216
    CreateRefund:
      description: Request to create Refund
      content:
        application/json:
          schema:
            type: object
            properties:
              request_id:
                type: string
              payment_id:
                type: string
              amount:
                type: integer
              reason:
                type: string
                enum:
                  - TechnicalProblem
                  - DuplicatePayment
              addtl_info:
                type: string
              debitor_iban:
                type: string
            required:
              - request_id
              - payment_id
              - amount
              - reason
              - debitor_iban
          examples:
            Create Refund:
              value:
                request_id: "9af69842-3011-4d6b-98d0-c3de1caa96d3"
                payment_id: pm_54b6bcee-aa58-454d-aed9-ce97d6bdd797
                amount: 500
                reason: TechnicalProblem
                addtl_info: ""
                debitor_iban: PK12ALFH0031001006540005
    CreateQRCode:
      description: Request to create a dynamic or static QR code
      content:
        application/json:
          schema:
            type: object
            description: Parameters accepted when generating a QR code
            properties:
              type:
                type: string
                description: QR code type to create; accepts STATIC or DYNAMIC
              aggregator_merchant_identifier:
                type: string
                description: Identifier of the aggregator merchant the QR code belongs to
              request_id:
                type: string
                description: Optional idempotency key provided by the client
              order_id:
                type: string
                description: Merchant-supplied order reference for dynamic QR codes
              amount:
                type: integer
                description: Optional amount to embed in the QR code for dynamic payments
              expiry_in_minutes:
                type: integer
                description: Optional expiry window in minutes for dynamic QR codes; defaults to 180 when omitted
            required:
              - type
              - aggregator_merchant_identifier
          examples:
            Create Static QR Code:
              value:
                type: STATIC
                aggregator_merchant_identifier: am_749fe6ce-91f9-4f6a-9df2-ec6ae9f75a30
            Create Dynamic QR Code:
              value:
                type: DYNAMIC
                aggregator_merchant_identifier: am_749fe6ce-91f9-4f6a-9df2-ec6ae9f75a30
                order_id: "033301"
                request_id: "749fe6ce-91f9-4f6a-9df2-ec6ae9f75a30"
                amount: 1200
                expiry_in_minutes: 180
    CreateWebhook:
      description: Request to create a webhook endpoint
      content:
        application/json:
          schema:
            type: object
            description: Parameters for creating a webhook endpoint
            properties:
              url:
                type: string
                description: The URL where webhook events will be sent
                example: https://github.com/HasCold
              description:
                type: string
                description: Optional description for the webhook endpoint
                example: this is testing url endpoint
              event_types:
                type: array
                description: List of event types to subscribe to
                items:
                  type: string
                example:
                  [
                    "payment.created",
                    "payment.completed",
                    "refund.completed",
                    "refund.created",
                    "settlement.processing",
                    "settlement.completed",
                  ]
              enabled:
                type: boolean
                description: Whether the webhook endpoint should be enabled immediately
                example: true
            required:
              - url
              - event_types
          examples:
            Create Webhook:
              value:
                url: https://github.com/HasCold
                description: this is testing url endpoint
                event_types: ["payment.created"]
                enabled: true
    UpdateWebhook:
      description: Request to update a webhook endpoint
      content:
        application/json:
          schema:
            type: object
            description: Parameters for the webhook modification
            properties:
              url:
                type: string
                description: The URL where webhook events will be sent
                example: https://github.com/HasCold
              description:
                type: string
                description: Optional description for the webhook endpoint
                example: this is testing url endpoint
              event_types:
                type: array
                description: List of event types to subscribe to
                items:
                  type: string
                example: ["payment.created", "payment.refunded"]
              enabled:
                type: boolean
                example: true
          examples:
            Update Webhook:
              value:
                url: https://github.com/HasCold
                description: this is testing url endpoint
                event_types: ["payment.created", "payment.refunded"]
                enabled: true
  responses:
    StandardSuccess:
      description: Successful operation
      headers:
        Content-Length:
          $ref: "#/components/headers/ContentLengthHeader"
        Date:
          $ref: "#/components/headers/DateHeader"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/StandardResponse"
    EmptySuccess:
      description: Successful operation
      headers:
        Content-Length:
          $ref: "#/components/headers/ContentLengthHeader"
        Date:
          $ref: "#/components/headers/DateHeader"
      content:
        application/json:
          schema:
            allOf:
              - $ref: "#/components/schemas/StandardResponse"
              - type: object
                properties:
                  data:
                    type: object
                    description: Empty payload structure returned for successful operations without additional data
                    example: {}
    BadRequest:
      description: Bad request
      headers:
        Content-Length:
          $ref: "#/components/headers/ContentLengthHeader"
        Date:
          $ref: "#/components/headers/DateHeader"
      content:
        application/json:
          schema:
            allOf:
              - $ref: "#/components/schemas/ErrorResponse"
              - type: object
                properties:
                  code:
                    example: error.bad_request
                  message:
                    example: Invalid request parameters
    Unauthorized:
      description: Unauthorized
      headers:
        Content-Length:
          $ref: "#/components/headers/ContentLengthHeader"
        Date:
          $ref: "#/components/headers/DateHeader"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiErrorEnvelope"
          examples:
            Unauthorized:
              value:
                api_version: v1
                error:
                  code: error.unauthorized_access
                  message: partner access key is required in request header
    NotFound:
      description: Resource not found
      headers:
        Content-Length:
          $ref: "#/components/headers/ContentLengthHeader"
        Date:
          $ref: "#/components/headers/DateHeader"
      content:
        application/json:
          schema:
            allOf:
              - $ref: "#/components/schemas/ErrorResponse"
              - type: object
                properties:
                  code:
                    example: error.not_found
                  message:
                    example: Requested resource not found
    Conflict:
      description: Resource conflict
      headers:
        Content-Length:
          $ref: "#/components/headers/ContentLengthHeader"
        Date:
          $ref: "#/components/headers/DateHeader"
      content:
        application/json:
          schema:
            allOf:
              - $ref: "#/components/schemas/ErrorResponse"
              - type: object
                properties:
                  code:
                    example: error.conflict
                  message:
                    example: Resource already exists
    InternalError:
      description: Internal server error response
      headers:
        Content-Length:
          $ref: "#/components/headers/ContentLengthHeader"
        Date:
          $ref: "#/components/headers/DateHeader"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiErrorEnvelope"
          examples:
            InternalServerError:
              value:
                api_version: v1
                error:
                  code: error.internal_server_error
                  message: rpc error code Internal desc = something went wrong
    NotAcceptable:
      description: Not Acceptable
      headers:
        Content-Length:
          $ref: "#/components/headers/ContentLengthHeader"
        Date:
          $ref: "#/components/headers/DateHeader"
      content:
        application/json:
          schema:
            allOf:
              - $ref: "#/components/schemas/ErrorResponse"
              - type: object
                properties:
                  code:
                    example: error.request_not_acceptable
                  message:
                    example: already activated
    AggregatorResponse:
      description: This response contains details of an aggregator
      headers:
        Content-Length:
          $ref: "#/components/headers/ContentLengthHeader"
        Date:
          $ref: "#/components/headers/DateHeader"
      content:
        application/json:
          schema:
            allOf:
              - $ref: "#/components/schemas/StandardResponse"
              - type: object
                properties:
                  data:
                    description: Aggregator resource found for the supplied identifier
                    $ref: "#/components/schemas/Aggregator"
          examples:
            AggregatorFound:
              value:
                api_version: v1
                data:
                  id: "2"
                  token: agg_2288490a-2176-4de5-b373-0ffb6f8e2e6e
                  partner_id: partner_ed4f0480-36c8-4a5a-8cd4-381bc4d83f2c
                  bank_account_id: acc_c03a57cb-a616-42a7-b1dc-de473217a558
                  name: DLocal
                  is_active: true
                  is_super: true
                  vault_enabled: true
                  bank_account:
                    id: "11"
                    token: acc_c03a57cb-a616-42a7-b1dc-de473217a558
                    vault_token: lock_464309f2-572f-493f-8272-e503277b06fd
                    title: JFIZG
                    iban: PK85HABB0002157901170103
                    redacted_iban: PK85HABB************0103
                    hashed_iban: MioWSkE1a8HST07eqMVnfz/zZIzPFqhKGMIjDTOjPWc=
                    servicer: HABBPKKARTG
                    bank: ""
                    depositor_id: dep_31b1166f-de14-4e66-ba4a-2a321ca55a77
                    owner: raast
                    kind: 5
                    version: v1
[...]
